@import "tailwindcss";

:root {
  --font-inter: ui-sans-serif, system-ui, sans-serif;

  --color-primary-500: #22c55e;

  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}